[Unit]
Description=Renato
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
Environment="__YNH_NODE_LOAD_PATH__"
Environment="PORT=__PORT__"
Environment="NODE_ENV=production"
ExecStart=__YNH_NODE__ ./example/server.js

[Install]
WantedBy=multi-user.target
